h1:hover{
  text-shadow: 5px 5px 5px rgb(30, 211, 39);
  background-color: rgb(239, 239, 36);
}
button{
  background-color:rgb(239, 56, 190);
  width: 15%;
  height: 30px;
}
button:hover{
  display: block;
  filter: drop-shadow(0 0 10px #e9e8e2);
  background-color: chartreuse;
  border-radius: 50px;
  cursor: pointer;
  rotate: 2o dgr;
}
body{
  background-color: cornsilk;
}



